-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAL4q+rS8B6emMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkFVMRMwEQYDVQQIDAphbnlzdGF0ZTEQMA4GA1UEBwwHYW55Y2l0eTEWMBQG
A1UEAwwNbG9jYWxob3N0LmxvY2FsMB4XDTIxMDUwMTE3NDgyNloXDTMxMDQyOTE3
NDgyNlowRTELMAkGA1UEBhMCVVMxEzARBgNVBAgMCmFueXN0YXRlMRAwDgYDVQQH
DAdhbnljaXR5MRYwFAYDVQQDDA1sb2NhbGhvc3QubG9jYWwwggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQDskVsfcA5R0EKNzRme9lwUJIgE1BJ0RtT6ugkG
...
-----END CERTIFICATE-----
