apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: quantum-safe-tls-proxy
  namespace: default
spec:
  template:
    spec:
      containers:
        - image: gcr.io/${PROJECT_ID}/quantum-safe-tls-proxy:latest
          ports:
            - containerPort: 443
          env:
            - name: TLS_CERT_PATH
              value: "/etc/ssl/certs/cert.pem"
          volumeMounts:
            - name: tls-certificates
              mountPath: "/etc/ssl/certs"
      volumes:
        - name: tls-certificates
          secret:
            secretName: tls-secret
